<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<h1 class="add">Add Todo</h1>

<form th:action="@{/todos}" th:object="${todo}" method="post">
    <label for="title">Title:</label><br />
    <input type="text" id="title" th:field="*{title}" placeholder="Title" required/><br /><br />

    <label for="description">Description:</label><br />
    <textarea id="description" th:field="*{description}" placeholder="Description"></textarea><br /><br />

    <label>Completed:</label><br />
    <input type="radio" th:field="*{completed}" value="true" id="completedTrue" />
    <label for="completedTrue">Completed</label><br />
    <input type="radio" th:field="*{completed}" value="false" id="completedFalse" checked />
    <label for="completedFalse">Not Completed</label><br/><br/>

    <button class="btn btn-dark" type="submit">Add Todo</button>
</form>

<h2>Todo List</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Completed</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${todos}">
        <td th:text="${t.title}"></td>
        <td th:text="${t.description}"></td>
        <td>
            <form th:action="@{/todos/update/{id}(id=${t.id})}" method="post" style="display:inline;">
                <input type="checkbox" name="completed" th:checked="${t.completed}" />
                <input type="hidden" name="completed" th:value="${!t.completed}" />
                <button type="submit" class="btn btn-sm btn-dark">Update</button>
            </form>
        </td>
        <td>
            <form th:action="@{/todos/delete/{id}(id=${t.id})}" method="post" style="display: inline;">
                <button class="btn btn-dark" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>