<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todo List</title>
    <style>
        table {
          border-collapse: collapse;
          width: 60%;
          margin-top: 20px;
        }
        th, td {
          border: 1px solid #333;
          padding: 8px;
          text-align: left;
        }
        th {
          background-color: #eee;
        }
    </style>
</head>
<body>

<h1>Add Todo</h1>

<form th:action="@{/todos}" th:object="${todo}" method="post">
    <label for="title">Title:</label><br />
    <input type="text" id="title" th:field="*{title}" placeholder="Title" required/><br /><br />

    <label for="description">Description:</label><br />
    <textarea id="description" th:field="*{description}" placeholder="Description"></textarea><br /><br />

    <label>Completed:</label><br />
    <input type="radio" th:field="*{completed}" value="true" id="completedTrue" />
    <label for="completedTrue">Completed</label><br />
    <input type="radio" th:field="*{completed}" value="false" id="completedFalse" checked />
    <label for="completedFalse">Not Completed</label><br /><br />

    <button type="submit">Add Todo</button>
</form>

<h2>Todo List</h2>

<form th:action="@{/todos/update-list}" method="post" th:object="${todos}">    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t, iterStat : ${todos}">
            <td th:text="${t.title}"></td>
            <td th:text="${t.description}"></td>
            <td>
            <form th:action="@{/todos/update/{id}(id=${t.id})}" method="post">
                <input type="checkbox"
                       th:name="completed"
                       th:value="true"
                       th:checked="${t.completed}"
                       onchange="this.form.submit()" />
                <input type="hidden" name="_method" value="put" />
            </form>
            </td>
            <td>
                <form th:action="@{/todos/delete/{id}(id=${t.id})}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Update Status</button>
</form>
</body>
</html>
